HTTP 协议 - 状态码

Previous: [HTTP 协议 - 简介]( https://github.com/helijia-web/quests/issues/5)

## HTTP 协议 - 状态码

在 HTTP 协议中，客户端发往服务端的传输内容，称为「请求」(Request)；服务端发往客户端的传输内容，称为「响应」(Response)。

我们看一下上面这个 curl 请求的对应响应：

```console
HTTP/1.1 200 OK
Server: nginx/1.2.4
Date: Sun, 20 Aug 2017 07:57:40 GMT
Content-Type: text/html
Content-Length: 45889
Last-Modified: Tue, 26 Jul 2016 11:31:32 GMT
Connection: keep-alive
Accept-Ranges: bytes


<!-- Powered by Sxl.cn 4 (276) Jul 26, 2016 at 19:26--> <!DOCTYPE html> <html itemscope itemtype='http://schema.org/WebPage' lang='zh-CN' xmlns:fb='https://www.facebook.com/2008/fbml' xmlns:og='http://ogp.me/ns#' 
...
```

第一行 (`HTTP/1.1 200 OK`) 在 HTTP 协议中称为 `status line`。(https://tools.ietf.org/pdf/rfc7230.pdf section 3.1.2)。

> 3.1.2. Status Line

    The first line of a response message is the status-line, consisting
    of the protocol version, a space (SP), the status code, another
    space, a possibly empty textual phrase describing the status code,
    and ending with CRLF.
    
      status-line = HTTP-version SP status-code SP reason-phrase CRLF

    The status-code element is a 3-digit integer code describing the
    result of the server’s attempt to understand and satisfy the client’s
    corresponding request. The rest of the response message is to be
    interpreted in light of the semantics defined for that status code.
    See Section 6 of [RFC7231] for information about the semantics of
    status codes, including the classes of status code (indicated by the
    first digit), the status codes defined by this specification,
    considerations for the definition of new status codes, and the IANA
    registry.

      status-code = 3DIGIT

    The reason-phrase element exists for the sole purpose of providing a
    textual description associated with the numeric status code, mostly
    out of deference to earlier Internet application protocols that were
    more frequently used with interactive text clients. A client SHOULD
    ignore the reason-phrase content.

      reason-phrase = *( HTAB / SP / VCHAR / obs-text )

协议规定说，status line 的格式是：

```console
HTTP/1.1      200       OK 
HTTP-版本 空格 状态码 空格 描述 回车换行
```

* 版本一般是 `HTTP/1.0`, `HTTP/1.1`, `HTTP/2.0` 等等；
* 状态码是三位数字，规范对齐含义有规定，我们下面会介绍；
* 描述(reason phrase) 可以没有，只是一个文字描述，客户端 **应该** 忽略掉

## 状态码定义

规范第 6 章定义了状态码的含义。

| 状态 | 含义 | 详情 |
|------|------|------|
| 1xx  | 信息型 | 请求已收到，将会继续处理|
| 2xx  | 成功 | 请求已成功收到，理解并接受了 |
| 3xx  | 重定向 | 为了完成请求，需要再发一个下一步的请求|
| 4xx  | 客户端错误 | 请求中包含错误 |
| 5xx  | 服务端错误 | 服务端尝试处理请求，但是失败了 |

具体的定义

### 1xx

| Code | Reason-Phrase | 含义 |
|------|---------------|------|
| 100 | Continue | 初始部分的请求已收到，并且没有被拒绝。服务端将会在收到完整的请求内容后，返回一个最终的响应。|
| 101 | Switching Protocols | 服务器理解请求，但希望升级到更高级的协议进行对话。新协议会在 `Expect` 头中指定。|

### 2xx

| Code | Reason-Phrase | 含义 |
|------|---------------|------|
| 200 | OK | 请求已成功 |
| 201 | Created | 请求已成功，并且已造成一个或多个资源创建了 |
| 202 | Accepted | 请求已接受，处理进行中并且还没完成 |
| 203 | Non-Authoritative Information | 请求是成功的，但是原始内容已被代理服务器修改。|
| 204 | No Content | 请求处理成功，但是服务端没什么需要返回在 body 里的，所有需要的内容都在头部。比如在线文档编辑器应用中，一个保存文档的请求|
| 205 | Reset Content | 请求处理成功。浏览器需要重设一下 document view。例如表单、画布的重设。|
| 206 | Partial Content | 服务端只返回了部分的资源内容|

### 3xx

| Code | Reason-Phrase | 含义 |
|------|---------------|------|
| 300 | Multiple Choices | 目标资源有多种表现形式 (representation)，需要客户端指定一种。对于非 `HEAD` 动作的请求，服务端需要在响应中给出表现形式列表，方便客户端选择。|
| 301 | Moved Permanently | 目标资源已经被永久地转移了，新地址见返回的 `Location` 头|
| 302 | Found | 目标资源临时被转移了，新地址见返回的 `Location` 头|
| 303 | See Other | 服务端想让服务端去请求另外一个资源 |
| 304 | Not Modified | 资源没有修改，客户端可以使用本地缓存版本|
| 305 | Use Proxy | 这个状态码已经废弃 |
| 307 | Temporary Redirect | 临时转移，新地址见 `Location` 头。与 302 不同的是，不允许客户端将动作从 `POST` 改为 `GET`|

### 4xx

| Code | Reason-Phrase | 含义 |
|------|---------------|------|
| 400 | Bad Request | 因为客户端的错误，服务端不能或不会处理请求。例如请求格式错误，消息framing错误等|
| 401 | Unauthorized | 客户端提供的认证信息无法通过代理服务器的身份认证 (RFC7235) |
| 402 | Payment Required | 这个是保留给将来使用的一个状态码|
| 403 | Forbidden | 服务端理解客户端的请求，但是客户端无权访问资源，并且服务端不会进行身份验证|
| 404 | Not Found | 当前指定的资源格式 (representation) 找不到|
| 405 | Method Not Allowed | 当前的方法不被支持。服务端需要返回一个 `Allow` 头告诉客户端被允许的动作有哪些|
| 406 | Not Acceptable | 服务端没有客户端期望的资源格式，服务端也不准备提供一个默认的资源格式给客户端。但服务端会返回一个可选格式的列表。|
| 407 | Proxy Authentication Required | 代理服务器需要进行身份验证|
| 408 | Request Timeout | 服务器在一定时间范围内仍然没有收到完整的请求|
| 409 | Conflict | 请求无法被处理，原因是目标资源目前的状态和请求相冲突。用户可以修改请求并重新发起。服务端必须返回冲突的源。举一个冲突的例子，一个多人文章编辑协作应用，如果有版本控制，一个用户在已过期的资源基础上提交修改，服务端会返回冲突结果。|
| 410 | Gone | 目标资源已经不存在了，并且这种不存在是永久的。如果服务端不确定这种不存在是永久的，还是临时的，此时应该用 `404 Not Found` 状态。410 状态设计上是用来告诉客户端移除本地的对应资源（例如缓存）的，例如某个促销活动资源已过期的场景。410 结果是可以被缓存的。|
| 411 | Length Required | 需要客户端声明 `Conent-Length` |
| 412 | Precondition Failed | 请求中一个或多个条件判断(`If-*`系列头) 在服务端运行结果是 `false`  |
| 413 | Payload Too Large | 由于客户端 payload 过大，服务端拒绝处理。服务端可以立即中断 TCP 连接。如果这个大小限制是临时的，服务端可以在 `Retry-After` 头中声明多久之后客户端可以重试。|
| 414 | URI Too Long | 目标资源地址太长了。414 结果也是可以被缓存的。 |
| 415 | Unsupported Media Type | 请求 payload 中携带的资源，格式不符合服务端的要求。格式通常是由客户端写在 `Content-Type` 或 `Content-Encoding` 中，也可以服务端通过直接观察数据猜出。 |
| 416 | Range Not Satisfiable | 客户端指定的字节范围 (`Content-Range`) 不合理，可能是不存在，或者范围太小了。服务端必须通过 `Content-Range` 头返回一个合法的范围，例如 `Content-Range: bytes */47022` 。 |
| 417 | Expectation Failed | 客户端 `Expect` 头中声明的希望无法被满足。例如 `Expect = "100-contiue"` 之外的 `Expect` 可能会收到 417 状态码的响应|
| 426 | Upgrade Required | 因为 HTTP 版本不够高，请求被拒绝执行。服务端必须在返回的头部中告诉客户端需要升级到哪个 HTTP 协议版本。 |

### 5xx

| Code | Reason-Phrase | 含义 |
|------|---------------|------|
| 500 | Internal Server Error | 服务端遇到了一个不曾预料的问题，导致其无法完成请求 |
| 501 | Not Implemented | 服务端不支持某些功能，导致其无法完成请求 |
| 502 | Bad Gateway | 作为网关或者代理服务器角色的服务端，无法收到其绑定服务器的响应 |
| 503 | Service Unavailable | 由于暂时的过载或者计划中的维护，服务端目前无法处理请求。服务端可以发一个 `Retry-After` 头告诉客户端多久之后重试|
| 504 | Gateway Timeout | 网关或者代理服务器，在指定时间内依然没有收到绑定服务器的响应|
| 505 | HTTP Version Not Supported | 服务端不支持，或拒绝支持请求所用的 HTTP 主版本，服务端需要返回其所支持的协议版本 |

## 参考
https://tools.ietf.org/pdf/rfc7231.pdf#section-6

